@import root.sass

////I
////I
////I
.modal
    z-index: 1000000000
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    color: white
    background: $darker-blue
    display: none
    justify-content: center
    align-content: center
    text-align: center
    transition: all 1000ms
    .modal__close
        border: 0
        padding: 12px 20px
        min-width: 100px
        margin: 0 auto
        border-radius: 30px
        font-size: 1.2em
        font-weight: bold
        cursor: pointer
        transition: all 300ms
        text-align: center
        background-color: $dark-blue
        color: #ffffff
        &:hover
            border-radius: 15px
            transform: scale(1.1)
            &:active
                transform: scale(0.9)
    h1
        font-size: 2.5em
        margin: 0px
    &.active
        display: grid
        &--underconstuction
            letter-spacing: 4px
        p
            margin-bottom: 30px
        &--image
            grid-template-rows: 1fr 1fr

////I
////I 
////I
.fade-up
    transform: translateY(-100%)
    opacity: 1