.topbar {
  z-index: 100000;
  position: fixed;
  width: 100%;
  height: 48px;
  opacity: 0.85;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #051e2f;
}

.topbar .topbar__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-image: url("../images/Logo 1@2x.png");
}

.topbar .topbar--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 34px;
  background-size: cover;
}

.topbar .topbar__menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  cursor: pointer;
}

.topbar .topbar__menu__open {
  fill: #fffffe;
}

.topbar .topbar__menu__open:active, .topbar .topbar__menu__open:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.topbar .topbar__menu__close {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  display: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  fill: #fffffe;
}

.topbar .topbar__menu__close:active, .topbar .topbar__menu__close:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.topbar .topbar__navigation {
  display: none;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  justify-self: flex-end;
  color: red;
  height: 100%;
}

.topbar .topbar__navigation .topbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topbar .topbar__navigation .topbar__list li {
  height: 100%;
}

.topbar .topbar__navigation .topbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-left: 10px;
  color: #90B4CE;
  height: 100%;
  padding: 5px 10px;
}

.topbar .topbar__navigation .topbar__link:active {
  color: #fffffe;
}

.navigaion {
  z-index: 1000;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-transform: translateY(calc(-100vh - 48px));
          transform: translateY(calc(-100vh - 48px));
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0076B3;
  color: #fffffe;
}

.navigaion .navigaion__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigaion .navigaion__list .navigaion__link {
  -webkit-transition: all 100ms;
  transition: all 100ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 0;
  cursor: pointer;
}

.navigaion .navigaion__list .navigaion__link:hover, .navigaion .navigaion__list .navigaion__link:active {
  background-color: #45aaf8;
  color: #fffffe;
}

.navigaion.active {
  z-index: 1000;
  height: calc( 100vh - 48px);
}

.navigaion.active .navigaion__link {
  height: calc( (100vh - 48px) * 1/5);
}
/*# sourceMappingURL=navigation.css.map */