$white: #fffffe
$light-blue-a:  #3DA9FC
$light-blue-b: #0076B3
$darker-blue: #083555
$dark-blue: #051e2f
$light-gray: #90B4CE

$primary: $light-blue-a
$selection: $light-blue-a
$focus: #FC903D
$text-secondary: $light-gray

$nav-top-background: $dark-blue
$nav-background: $light-blue-b
$nav-color: $white
$nav-hover: #45aaf8
