.sozial-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.sozial-icons {
  position: relative;
  width: 48px;
  height: 48px;
  background: #767777;
}

.sozial-icons:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.sozial-icons.linkedin {
  background: #0076B3;
}

.sozial-icons.linkedin::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url("../images/bxl-linkedin.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.sozial-icons.instagram {
  margin-bottom: 20px;
  background: transparent linear-gradient(219deg, #71329D 0%, #9851C1 32%, #EC2135 65%, #E9C531 100%) 0% 0% no-repeat padding-box;
}

.sozial-icons.instagram::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url("../images/bxl-instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.sozial-icons.github {
  margin-bottom: 20px;
  background: #FFFFFF;
}

.sozial-icons.github::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url("../images/bxl-github.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*::-moz-selection {
  background: #3DA9FC;
}

*::selection {
  background: #3DA9FC;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.modal {
  letter-spacing: 4px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  color: white;
  background: #051e2f;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.modal.fade-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.modal h1 {
  font-size: 2.5em;
  margin: 0px;
}

.modal p {
  margin-bottom: 30px;
}

.modal button {
  border: 0;
  padding: 12px 20px;
  min-width: 100px;
  margin: 0 auto;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-align: center;
  background-color: #083555;
  color: #ffffff;
}

.modal button:hover {
  border-radius: 15px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
/*# sourceMappingURL=style.css.map */