////I
@import root.sass

*
  box-sizing: border-box
  font-family: 'Roboto', sans-serif
  &::selection
    border: 0
    outline: none
    box-shadow: 0 0 0 2px $focus
html
  scroll-behavior: smooth
  height: 100vh
body
  display: grid
  grid-template-rows: 85vh 5.1vw auto 5.1vw 1fr 5.1vw max-content auto auto 48px
  margin: 0
  position: relative

.grid--columns
  display: grid
  grid-template-columns: 25px 1fr 25px

.section__container
  position: relative
  min-height: 100px
  color: #fffffe
  .se__title
    margin-top: 0
    font-size: 2em
    text-transform: uppercase
    text-align: center
    letter-spacing: 2px
.container--padding
  height: 100%
  padding-top: calc( 5vw + 20px)
  padding-bottom: calc( 5vw + 20px)

////I
////I Navigation
////I
.topbar
  z-index: 1000
  transition: height 300ms
  height: 48px
  width: 100vw
  background-color: $nav-header-background
  color: $white
  position: fixed
  top: 0
  opacity: 0.85
  .topbar__logo
    grid-row: 1 / 2
    grid-column: 2 / 3
    padding: 8px
    height: 48px
    width: 48px
  .topbar__nav
    grid-column: 2 / 3
    grid-row: 1 / 2
    margin: 0
    padding: 0
    display: grid
    grid-auto-flow: column
    grid-gap: 15px
    justify-self: end
    list-style: none
    li
      height: 48px
      .nav__link
        padding: 0 5px
        display: flex
        align-items: center
        height: 100%
        text-decoration: none
        color: $text-secondary
  .topbar__open
    grid-column: 2 / 3
    grid-row: 1 / 2
    padding: 12px
    height: 48px
    width: 48px
    justify-self: end
    display: none
  .topbar__close
    grid-column: 2 / 3
    grid-row: 1 / 2
    padding: 14px
    height: 48px
    width: 48px
    justify-self: end
    display: none
  .topbar__open,
  .topbar__close
    &.active
      display: flex

////I
////I Info
////I
.container--info
  z-index: 100
  grid-column: 1 / -1
  grid-row: 1/3
  padding-top: 48px
  background-color: #00000029
  background-image: url("../images/background mountain.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
#info
  height: 80vh
  display: grid
  grid-template-rows: 1fr auto auto 0.5fr auto 0.7fr auto 1fr
#info__title
  grid-row: 2 / 3
  grid-column: 2 / 3
  text-align: left
  font-size: 3rem
  text-transform: none
  font-weight: 100
  letter-spacing: 5px
  display: block
  margin: 0
  text-shadow: 1px 3px 0px $black
  .info__title__extra
    font-weight: bold
  .info__title__extra__dot
    color: $primary
.info__secondary
  grid-row: 5 / 6
  grid-column: 2 / 3
  text-transform: uppercase

////I
////I Fähigkeiten
////I
.container--skills
  z-index: 101
  grid-column: 1 / -1
  grid-row: 2 / 5
  filter: drop-shadow(0px 0px 10px #0b5285)
#skills
  background-color: #094067
  clip-path: polygon(0 5vw, 0 100%, 100% 100%, 100% 0)
  .skills__container
    display: grid
    .box_container
      grid-column: 2 / 3
      display: grid
    .skills__box
      display: flex
      align-self: flex-start
      flex-direction: column
      justify-content: center
      text-align: center
      margin-bottom: 15px
    .box__icons
      fill: $primary
      svg
        font-size: 2em
        width: 34px
        height: 34px
    .box__title
      margin: 0
      color: $text-secondary
    .box__list
      list-style: none
      line-height: 24px
      padding: 0
      li
        text-transform: uppercase

////I
////I Projekte
////I
.container--projects
  z-index: 105
  grid-column: 1 / -1
  grid-row: 4 / 7
  filter: drop-shadow(0px -2px 11px #072F4B)
#projects
  background: #072F4B
  clip-path: polygon(0 0, 0 calc(100% - 5vw), 100% 100%, 100% 5vw)
  .projects__container
    display: grid
    grid-row-gap: 35px
    .projects__item
      grid-column: 2 / 3
      display: grid
      .item__title
        text-align: center
        span
          font-size: 0.7em
          color: $text-secondary
      .item__image
        width: 100%
      .item__description
        color: $text-secondary
        text-align: center
      .item__title_second
        text-align: center
      .item__software__container
        display: grid
        grid-auto-flow: column
        justify-content: center
        grid-gap: 15px
      .software__icon
        background-color: red
        display: flex
        justify-content: center
        align-items: center
        width: 48px
        height: 48px
        &.cSharp
          background-color: #6A1E78
        &.mysql
          background-color: #FFFFFE
          .icon__word__a
            color: #006389
          .icon__word__b
            color: #E08A2B
        &.html
          background-color: #E83E35
          color: #000000
        &.css
          background-color: #3F9CE8
          color: #000000
        &.javascript
          background-color: #FFCA28
          color: #000000
      .item__controls__container
        margin: 15px 0
        display: grid
        align-content: start
        grid-gap: 15px

////I
////I Erfahrung
////I
.container--experience
  z-index: 101
  grid-column: 1 / -1
  grid-row: 6 / 9
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7))
  padding-bottom: 40px
#experience
  background: #356282
  .experience__container
    display: grid
    grid-row-gap: 25px
    position: relative
    .experience__card
      grid-column: 2 / 3
      text-align: center
      &.school
        &::before
          grid-column: 2 / 3
          position: relative
          top: 0
          left: 50%
          transform: translateX(-50%)

          display: block
          content: url("../images/bxs-school.svg")
          width: 48px
          height: 48px
      &.work
        &::before
          grid-column: 2 / 3
          position: relative
          top: 0
          left: 50%
          transform: translateX(-50%)
          display: block
          content: url("../images/bx-building.svg")
          width: 48px
          height: 48px
      &:not(work),
      &:not(school)
        &::before
          grid-column: 2 / 3
          top: 0
          display: block
          content: '🔵'
          font-size: 2em
  .card__date
    color: $text-secondary
    margin-bottom: 7px
  .card__name
    font-size: 1.1em
    font-weight: bold
    margin: 0
    .card__graduation
      color: $text-secondary
      font-size: 1em

////I
////I Kontakt
////I
.container--contact
  z-index: 102
  grid-column: 2 / 3
  grid-row: 8 / 10
  filter: drop-shadow(0px 0px 5px #083555)
#contact
  grid-column: 1 / -1
  height: 100%
  padding: 30px 0px
  background: #083555
  display: grid
  .contact__wrapper
    display: grid
    grid-template-columns: 1fr 5fr 1fr
    grid-template-rows: auto auto 1fr
  .contact__title
    grid-row: 1 / 1
    grid-column: 1 / -1
    margin: 0
  .contact__paragraph
    grid-row: 2 / 3
    grid-column: 2 / 3
    text-align: center
    color: $text-secondary
  .contact__form
    grid-row: 3 / 4
    grid-column: 2 / 3
    display: grid
    grid-gap: 10px
    textarea,
    input
      &:not([type=submit])
        border: 0
        width: 100%
        padding: 8px 10px
        border-radius: 2px
      &:disabled
        cursor: not-allowed
        filter: brightness(0.5)

////I
////I Footer
////I
.container__footer
  grid-column: 1 / -1
  grid-row: 11 / 12
  background: #083555
  color: #fffffe
  height: 48px
  .footer__content
    color: $text-secondary
    grid-column: 2 / 3
    display: grid
    justify-content: center
    align-items: center

////I
////I Ersteller Link
////I
.creator__link
  position: absolute
  right: 20px
  bottom: calc(5vw + 20px)
  color: #5F6C7B
  text-shadow: none
  fill: #fffffe
  font-size: 12px
  &::after
    position: relative
    bottom: -2px
    display: inline-block
    content: ''
    width: 1.3em
    height: 1.3em
    background-image: url("../images/bx-link-external-light.svg")
    background-size: contain

////I
////I Buttonsecondarygreen
////I
.btn
  border: 0
  padding: 11px 5px
  border-radius: 99px
  text-transform: uppercase
  font-size: 1.2em
  text-decoration: none
  color: #000000
  text-align: center
  cursor: pointer
  &:hover
    filter: brightness(.8)
  &--primary
    color: $white
    background-color: $primary
  &--secondary
    background-color: transparent
    border: 2px solid $primary
    color: $primary
  &--submit
    background-color: #52840C
    color: $white
////I
////I
////I
.to__top
  display: none
  position: fixed
  background-color: $primary
  background-image: url("../images/bx-arrow-to-top.svg")
  background-size: 35px
  background-repeat: no-repeat
  background-position: center
  color: $white
  width: 48px
  height: 48px
  left: 25px
  bottom: 25px
  z-index: 900
  transition: all 300ms
  &:focus,
  &:hover
    animation: top_down 500ms infinite alternate

@keyframes top_down
  0%
    background-position: center
  100%
    background-position: 50% 15%

////I
////I
////I
@import sozial.sass
@import modal.sass
////I
////I Responsive Layout
////I

// Layout
@media screen and ( min-width: 800px )
  .grid--columns
    display: grid
    grid-template-columns: 1fr 4fr 1fr

@media screen and ( min-width: 1500px )
  .grid--columns
    grid-template-columns: 1fr 1000px 1fr

// Navigation

$nav_min_height: 600px
// ? Mobile ? Menu-Icons: visible : Menu-Icons: not-visible 
@media screen and ( min-width: $nav_min_height + 1)
  .topbar
    .topbar__open,
    .topbar__close
      &.active
        display: none

@media screen and ( max-width: $nav_min_height )
  .topbar
    display: grid
    height: 48px
    width: 100vw
    background-color: $nav-header-background
    color: $white
    position: fixed
    grid-template-rows: 48px 1fr 1fr
    .topbar__nav
      grid-column: 1 / -1
      grid-row: 2 / -1
      margin: 0
      padding: 0
      width: 100%
      height: 100%
      list-style: none
      display: grid
      display: none
      grid-auto-flow: row
      grid-gap: 0
      background-color: $nav-background
      li
        display: inline
        height: 100%
        .nav__link
          display: flex
          justify-content: center
          align-items: center
          width: 100%
          height: 100%
          text-decoration: none
          color: $white
  &.tb--extended
    height: 100vh
    opacity: 1
    .topbar__nav
      display: grid
// Info Schrift
@media screen and ( min-width: 600px )
  #info__title
    font-size: 4rem
  .info__secondary
    font-size: 1.1rem

// Section Fähikteiten
@media screen and ( min-width: 700px )
  .box_container
    grid-template-columns: 1fr 1fr 1fr

// Section Projekt 
@media screen and ( min-width: 800px )
  #projects
    .btn
      width: 160px
    .projects__container
      .projects__item
        grid-template-columns: 1fr auto
        grid-template-rows: auto auto auto 1fr
        grid-gap: 15px
        .item__title
          margin: 0
          grid-row: 1 / 2
          grid-column: 1 / -1
          text-align: left
        picture
          grid-row: 2 / 5
          grid-column: 1 / 2
          display: grid
          width: auto
        .item__image
          max-width: 700px
          min-width: 500px
        .item__description
          margin: 0
          grid-column: 2 / 3
          grid-row: 4 / 5
          text-align: left
        .item__software
          grid-column: 2 / 3
          grid-row: 2 / 3
        .item__title_second
          margin-top: 0
          text-align: left
        .item__controls__container
          grid-column: 2 / 3
          grid-row: 3 / 4
        .item__software__container
          justify-content: start
        &.right
          grid-template-columns: auto auto
          grid-template-rows: auto auto auto 1fr
          grid-gap: 15px
          .item__title
            margin: 0
            grid-row: 1 / 2
            grid-column: 1 / -1
            text-align: right
          picture
            grid-row: 2 / 5
            grid-column: 2 / 3
            display: grid
          .item__image
            max-width: 600px
            min-width: 500px
          .item__description
            margin: 0
            grid-column: 1 / 2
            grid-row: 4 / 5
            text-align: right
          .item__software
            grid-column: 1 / 2
            grid-row: 2 / 3
          .item__title_second
            margin-top: 0
            text-align: right
          .item__controls__container
            grid-column: 1 / 2
            grid-row: 3 / 4
            justify-content: end
          .item__software__container
            justify-content: end

// Section Kontakt
@media screen and ( min-width: 900px )
  #contact
    margin: 0
    padding: 80px 50px
    .contact__wrapper
      grid-template-columns: 1fr 1fr
      grid-template-rows: auto 1fr auto
    .contact__title
      grid-row: 1 / 2
      grid-column: 1 / 2
    .contact__paragraph
      grid-row: 2 / 3
      grid-column: 1 / 2
    .contact__form
      grid-row: 1 / 3
      grid-column: 2 / 3

////I
////I
////I
