////I
@import 'variables';
@import 'nospace';
@import 'mixins';

* {
    font-family: "Roboto", sans-serif;
}
.header {
    height: 80vh;
    color: $white;
    @include section('../images/bg-header.png',  $dark-blue-2);
}

.section {
    color: $white;
    @include section('../images/photo pc.png',  #142836)
}