////I
@import root.sass

*
  box-sizing: border-box
  font-family: 'Roboto', sans-serif
  &::selection
    background: $selection

html
  scroll-behavior: smooth
  height: 100vh
body
  display: grid
  grid-template-rows: 85vh 5.1vw auto 5.1vw 1fr 5.1vw 0.5fr auto auto 48px
  margin: 0
  position: relative

.grid--columns
  display: grid
  grid-template-columns: 25px 1fr 25px

.section__container
  position: relative
  min-height: 100px
  color: #fffffe
  .se__title
    font-size: 2em
    text-transform: uppercase
    text-align: center
    letter-spacing: 2px
.container--padding
  height: 100%
  padding-top: calc( 5vw + 20px)
  padding-bottom: calc( 5vw + 20px)

////I
////I Info
////I
.container--info
  z-index: 100
  grid-column: 1 / -1
  grid-row: 1/3
  padding-top: 48px
  background-color: #00000029
  background-image: url("../images/background mountain.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
#info
  height: 80vh
  display: grid
  grid-template-rows: 1fr 2fr auto 0.5fr auto 0.7fr auto 1fr
#info__title
  grid-row: 2 / 3
  grid-column: 2 / 3
  text-align: left
  font-size: 3rem
  text-transform: none
  font-weight: 100
  letter-spacing: 5px
  display: block
  margin: 0
  .info__title__extra
    font-weight: bold
  .info__title__extra__dot
    color: $primary
.info__secondary
  grid-row: 5 / 6
  grid-column: 2 / 3
  text-transform: uppercase

////I
////I Fähigkeiten
////I
.container--skills
  z-index: 101
  grid-column: 1 / -1
  grid-row: 2 / 5
  filter: drop-shadow(0px 0px 10px #0b5285)
#skills
  background-color: #094067
  clip-path: polygon(0 5vw, 0 100%, 100% 100%, 100% 0)
  .skills__container
    display: grid
    .box_container
      grid-column: 2 / 3
      display: grid
    .skills__box
      display: flex
      align-self: flex-start
      flex-direction: column
      justify-content: center
      text-align: center
      margin-bottom: 15px
    .box__icons
      font-size: 1.75rem
    .box__title
      margin: 0
      color: $text-secondary
    .box__list
      list-style: none
      line-height: 24px
      padding: 0
      li
        text-transform: uppercase

////I
////I Projekte
////I
.container--projects
  z-index: 105
  grid-column: 1 / -1
  grid-row: 4 / 7
  filter: drop-shadow(0px -2px 11px #072F4B)
#projects
  background: #072F4B
  clip-path: polygon(0 0, 0 calc(100% - 5vw), 100% 100%, 100% 5vw)
  .projects__container
    display: grid
    grid-gap: 0px
    .card__container
      grid-column: 2 / 3
      display: grid
    .projects__card
      min-height: 200px
      background-color: $light-gray
      display: grid
      width: 100%
      background-image: url("../images/bx-image.svg")
      background-position: center
      background-repeat: no-repeat
      background-size: 100px
      .card__link
        display: grid
        justify-items: center
        align-items: center
        color: inherit
        text-decoration: none
        width: 100%
        height: 100%
      &.one
        background-color: #094067
      &.two
        background-color: #356282
      &.three
        background-color: #5F6C7B
      &.four
        background-color: #083555
////I
////I Erfahrung
////I
.container--experience
  z-index: 101
  grid-column: 1 / -1
  grid-row: 6 / 9
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7))
#experience
  background: #356282
  .experience__container
    display: grid
    grid-row-gap: 25px
    position: relative
    .experience__card
      grid-column: 2 / 3
      text-align: center
      &.school
        &::before
          grid-column: 2 / 3
          top: 0
          display: block
          content: '🏫'
          font-size: 2em
      &.work
        &::before
          grid-column: 2 / 3
          top: 0
          display: block
          content: '💼'
          font-size: 2em
      &:not(work),
      &:not(school)
        &::before
          grid-column: 2 / 3
          top: 0
          display: block
          content: '🔵'
          font-size: 2em
  .card__date
    color: $text-secondary
    margin-bottom: 7px
    .card__name
      font-size: 1.1em
      font-weight: bold
      margin: 0
      margin-bottom: 7px
      .card__graduation
        color: $text-secondary
        font-size: 1em

////I
////I Kontakt
////I
.container--kontact
  z-index: 102
  grid-column: 2 / 3
  grid-row: 8 / 10
  filter: drop-shadow(0px 0px 5px #083555)
#kontact
  grid-column: 1 / -1
  height: 100%
  padding: 30px 0px
  background: #083555
  display: grid
  grid-template-columns: 1fr 5fr 1fr
  grid-template-rows: auto auto 1fr
  .kontact__title
    grid-row: 1 / 1
    grid-column: 1 / -1
    margin: 0
  .kontact__paragraph
    grid-row: 2 / 3
    grid-column: 2 / 3
    text-align: center
    color: $text-secondary
  .kontact__form
    grid-row: 3 / 4
    grid-column: 2 / 3
    display: grid
    grid-gap: 10px
    textarea,
    input
      border: 0
      width: 100%
      padding: 8px 10px
      border-radius: 2px
      &[type=submit]
        text-transform: uppercase
        background-color: #52840C
        color: $white
        width: auto
        margin: 0 auto
        border-radius: 20px
        &:disabled
          filter: brightness(0.7)
          color: black
          cursor: not-allowed

////I
////I Footer
////I
.container--footer
  grid-column: 1 / -1
  grid-row: 11 / 12
  background: #083555
  color: #fffffe
  height: 48px
////I
////I Ersteller Link
////I
.creator__link
  position: absolute
  right: 20px
  bottom: calc(5vw + 20px)
  color: #5F6C7B
  text-shadow: none
  fill: #fffffe
  font-size: 12px

////I
////I
////I
@import sozial.sass
@import modal.sass
@import navigation.sass
////I
////I
////I

@media screen and ( min-width: 900px )
  .grid--columns
    display: grid
    grid-template-columns: 1fr 4fr 1fr
  .box_container
    grid-template-columns: 1fr 1fr 1fr
  .card__container
    grid-template-columns: 1fr 1fr
    grid-gap: 15px
  #kontact
    grid-template-columns: 25px auto 2fr 25px
    grid-template-rows: auto 1fr auto
    margin: 0
    padding: 30px 50px
    .kontact__title
      grid-row: 1 / 2
      grid-column: 2 / 3
    .kontact__paragraph
      grid-row: 2 / 3
      grid-column: 2 / 3
    .kontact__form
      grid-row: 1 / 3
      grid-column: 3 / 4
      margin-left: 50px
////I
////I
////I
