.sozial-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.sozial-icons {
  position: relative;
  width: 48px;
  height: 48px;
  background: #767777;
}

.sozial-icons:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.sozial-icons.linkedin {
  background: #0076B3;
}

.sozial-icons.linkedin::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url("../images/bxl-linkedin.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.sozial-icons.instagram {
  margin-bottom: 20px;
  background: transparent linear-gradient(219deg, #71329D 0%, #9851C1 32%, #EC2135 65%, #E9C531 100%) 0% 0% no-repeat padding-box;
}

.sozial-icons.instagram::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url("../images/bxl-instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.sozial-icons.github {
  margin-bottom: 20px;
  background: #FFFFFF;
}

.sozial-icons.github::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url("../images/bxl-github.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*::-moz-selection {
  background: #3DA9FC;
}

*::selection {
  background: #3DA9FC;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #f7f7f7;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.46fr 1fr 48px 0.46fr;
      grid-template-columns: 0.46fr 1fr 48px 0.46fr;
      grid-template-areas: ". n  n .";
  background: #051E2F;
  height: 47px;
  opacity: 0.85;
}

header .header-center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: n;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

header .header-center a {
  color: #FFFFFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

header .header-center a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-center a span img {
  margin-right: 7px;
}

header .header-center .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
}

header .header-center .navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  text-decoration: none;
  color: #90B4CE;
  height: 100%;
}

header .header-center .navigation a.active {
  color: #3DA9FC;
  font-weight: bold;
}

.navigation-icon {
  display: none;
  border: 0;
  width: 48px;
  height: 48px;
  background: url("../images/bx-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

section {
  height: 100%;
  color: #ffffff;
}

section.top {
  margin-top: calc(47px + 0px);
}

.section-one-wrap {
  z-index: 98;
  background: #3DA9FC;
}

.section-one-wrap::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 10px;
  background: -webkit-gradient(linear, right top, left bottom, from(#133c55), to(#3DA9FC));
  background: linear-gradient(to bottom left, #133c55, #3DA9FC);
  opacity: 0.1;
}

.section-one {
  margin-bottom: -5vw;
  height: 88vh;
  position: relative;
  padding-top: calc(47px + 0px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.46fr 1fr 48px 0.46fr;
      grid-template-columns: 0.46fr 1fr 48px 0.46fr;
  -ms-grid-rows: 27% 20% 50px 7% 28%;
      grid-template-rows: 27% 20% 50px 7% 28%;
      grid-template-areas: ". . . ." ". t . ." ". . . ." ". p p .";
  background: url("../images/background mountain.jpg");
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-one .one-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-size: 80px;
}

.section-one .one-title span {
  font-weight: bold;
}

.section-one .one-title span span {
  color: #3DA9FC;
}

.section-one .one-paragraph {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-size: 30px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section-one .creator-link {
  position: absolute;
  right: 20px;
  bottom: calc(5vw + 20px);
  color: #5F6C7B;
  text-shadow: none;
}

.section-skills-wrap {
  margin-bottom: -5vw;
  z-index: 99;
  -webkit-filter: drop-shadow(0px -2px 11px #0C2F47);
          filter: drop-shadow(0px -2px 11px #0C2F47);
}

.section-skills {
  position: relative;
  -webkit-clip-path: polygon(0 5vw, 0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 5vw, 0 100%, 100% 100%, 100% 0);
  background: #094067;
  height: 800px;
  padding-top: calc( 5vw + 20px);
}

.section-three-wrap {
  margin-bottom: -5vw;
  z-index: 100;
  -webkit-filter: drop-shadow(0px 2px 21px #01243a);
          filter: drop-shadow(0px 2px 21px #01243a);
}

.section-three {
  position: relative;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 5vw);
          clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 5vw);
  background: #072F4B;
  height: 400px;
  padding-top: calc( 5vw + 20px);
}

.modal {
  letter-spacing: 4px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  color: white;
  background: #051e2f;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.modal.fade-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.modal h1 {
  font-size: 2.5em;
  margin: 0px;
}

.modal p {
  margin-bottom: 30px;
}

.modal button {
  border: 0;
  padding: 12px;
  width: 100px;
  margin: 0 auto;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-align: center;
  background-color: #083555;
  color: #fffffe;
}

.modal button:hover {
  border-radius: 15px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.soft-ui {
  width: 50%;
  margin: 0 auto;
  border-radius: 18px;
  padding: 15px;
  -webkit-box-shadow: -2px -5px 10px #FFFFFF, 5px 2px 10px #DDE4EF;
          box-shadow: -2px -5px 10px #FFFFFF, 5px 2px 10px #DDE4EF;
}

@media screen and (max-width: 1370px) {
  .navigation-icon {
    display: block;
  }
  .header-center .navigation a {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  body header {
    -ms-grid-columns: 0.46fr 1fr 48px 0.46fr;
        grid-template-columns: 0.46fr 1fr 48px 0.46fr;
  }
  body header .header-center {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: n;
  }
  .section-one {
    -ms-grid-columns: 0.46fr 1fr 48px 0.46fr;
        grid-template-columns: 0.46fr 1fr 48px 0.46fr;
    -ms-grid-rows: 27% 20% 50px 7% 28%;
        grid-template-rows: 27% 20% 50px 7% 28%;
        grid-template-areas: ". . . ."  ". t . ." ". . . ." ". p p .";
  }
  .section-one .one-title {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: t;
    font-size: 4rem;
  }
  .section-one .one-paragraph {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: p;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 970px) {
  body header {
    -ms-grid-columns: 0.2fr 1fr 48px 0.2fr;
        grid-template-columns: 0.2fr 1fr 48px 0.2fr;
  }
  body header .header-center {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: n;
  }
  .section-one {
    -ms-grid-columns: 0.2fr 1fr 48px 0.2fr;
        grid-template-columns: 0.2fr 1fr 48px 0.2fr;
    -ms-grid-rows: 27% 20% 50px 7% 28%;
        grid-template-rows: 27% 20% 50px 7% 28%;
  }
}

@media screen and (max-width: 710px) {
  body header {
    -ms-grid-columns: 0.05fr 1fr 48px 0.05fr;
        grid-template-columns: 0.05fr 1fr 48px 0.05fr;
  }
  .section-one {
    -ms-grid-columns: 0.05fr 1fr 48px 0.05fr;
        grid-template-columns: 0.05fr 1fr 48px 0.05fr;
    -ms-grid-rows: 20% 20% 90px 7% 28%;
        grid-template-rows: 20% 20% 90px 7% 28%;
  }
}

@media screen and (max-width: 510px) {
  .section-one .one-title {
    font-size: 3rem;
  }
  .section-one .one-paragraph {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=style.css.map */