////I
@import root.sass

*
  box-sizing: border-box
  font-family: 'Roboto', sans-serif
  &::selection
    background: $selection

html
  scroll-behavior: smooth
  height: 100vh
body
  margin: 0
  position: relative

.section__enclose
  min-height: 100px
  color: #fffffe
.se__title
  font-size: 23px

.se--info
  padding-top: 48px
  background-color: #00000029
  background-image: url("../images/background mountain.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
#info
  height: 85vh

.se--skills
  //filter: drop-shadow(0px -2px 11px #0C2F47)
  background-color: #094067
#skills
  padding: 10px

////I
////I
////I
@import sozial.sass
@import modal.sass
@import navigation.sass
////I
////I
////I