@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*::-moz-selection {
  color: #fffffe;
  background: #3DA9FC;
  opacity: 1;
}

*::selection {
  color: #fffffe;
  background: #3DA9FC;
  opacity: 1;
}

*:focus {
  border: 0;
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #FC903D;
          box-shadow: 0 0 0 2px #FC903D;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 85vh 5.1vw auto 5.1vw 1fr 5.1vw 0.5fr auto auto 48px;
      grid-template-rows: 85vh 5.1vw auto 5.1vw 1fr 5.1vw 0.5fr auto auto 48px;
  margin: 0;
  position: relative;
}

.grid--columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px 1fr 25px;
      grid-template-columns: 25px 1fr 25px;
}

.section__container {
  position: relative;
  min-height: 100px;
  color: #fffffe;
}

.section__container .se__title {
  margin-top: 0;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.container--padding {
  height: 100%;
  padding-top: calc( 5vw + 20px);
  padding-bottom: calc( 5vw + 20px);
}

.container--info {
  z-index: 100;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  padding-top: 48px;
  background-color: #00000029;
  background-image: url("../images/background mountain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#info {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto auto 0.5fr auto 0.7fr auto 1fr;
      grid-template-rows: 1fr auto auto 0.5fr auto 0.7fr auto 1fr;
}

#info__title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  text-align: left;
  font-size: 3rem;
  text-transform: none;
  font-weight: 100;
  letter-spacing: 5px;
  display: block;
  margin: 0;
  text-shadow: 3px 6px 0px #000000;
}

#info__title .info__title__extra {
  font-weight: bold;
}

#info__title .info__title__extra__dot {
  color: #3DA9FC;
}

.info__secondary {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  text-transform: uppercase;
}

.container--skills {
  z-index: 101;
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  -webkit-filter: drop-shadow(0px 0px 10px #0b5285);
          filter: drop-shadow(0px 0px 10px #0b5285);
}

#skills {
  background-color: #094067;
  -webkit-clip-path: polygon(0 5vw, 0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 5vw, 0 100%, 100% 100%, 100% 0);
}

#skills .skills__container {
  display: -ms-grid;
  display: grid;
}

#skills .skills__container .box_container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
}

#skills .skills__container .skills__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

#skills .skills__container .box__icons {
  fill: #3DA9FC;
}

#skills .skills__container .box__icons svg {
  font-size: 2em;
  width: 34px;
  height: 34px;
}

#skills .skills__container .box__title {
  margin: 0;
  color: #90B4CE;
}

#skills .skills__container .box__list {
  list-style: none;
  line-height: 24px;
  padding: 0;
}

#skills .skills__container .box__list li {
  text-transform: uppercase;
}

.container--projects {
  z-index: 105;
  grid-column: 1 / -1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / 7;
  -webkit-filter: drop-shadow(0px -2px 11px #072F4B);
          filter: drop-shadow(0px -2px 11px #072F4B);
}

#projects {
  background: #072F4B;
  -webkit-clip-path: polygon(0 0, 0 calc(100% - 5vw), 100% 100%, 100% 5vw);
          clip-path: polygon(0 0, 0 calc(100% - 5vw), 100% 100%, 100% 5vw);
}

#projects .projects__container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 35px;
}

#projects .projects__container .projects__item {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
}

#projects .projects__container .item__title {
  text-align: center;
}

#projects .projects__container .item__image {
  width: 100%;
}

#projects .projects__container .item__description {
  color: #90B4CE;
  text-align: center;
}

#projects .projects__container .item__title_second {
  text-align: center;
}

#projects .projects__container .item__software__container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 15px;
}

#projects .projects__container .software__icon {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
}

#projects .projects__container .software__icon.cSharp {
  background-color: #6A1E78;
  font-size: 1.5em;
}

#projects .projects__container .software__icon.mysql {
  background-color: #FFFFFE;
  font-size: 0.9em;
}

#projects .projects__container .software__icon.mysql .icon__word__a {
  color: #006389;
}

#projects .projects__container .software__icon.mysql .icon__word__b {
  color: #E08A2B;
}

#projects .projects__container .item__controls__container {
  margin: 15px 0;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-gap: 15px;
}

.container--experience {
  z-index: 101;
  grid-column: 1 / -1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}

#experience {
  background: #356282;
}

#experience .experience__container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 25px;
  position: relative;
}

#experience .experience__container .experience__card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  text-align: center;
}

#experience .experience__container .experience__card.school::before {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  content: url("../images/bxs-school.svg");
  width: 48px;
  height: 48px;
}

#experience .experience__container .experience__card.work::before {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  content: url("../images/bx-building.svg");
  width: 48px;
  height: 48px;
}

#experience .experience__container .experience__card:not(work)::before, #experience .experience__container .experience__card:not(school)::before {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  top: 0;
  display: block;
  content: '🔵';
  font-size: 2em;
}

#experience .card__date {
  color: #90B4CE;
  margin-bottom: 7px;
}

#experience .card__date .card__name {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 7px;
}

#experience .card__date .card__name .card__graduation {
  color: #90B4CE;
  font-size: 1em;
}

.container--contact {
  z-index: 102;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8 / 10;
  -webkit-filter: drop-shadow(0px 0px 5px #083555);
          filter: drop-shadow(0px 0px 5px #083555);
}

#contact {
  grid-column: 1 / -1;
  height: 100%;
  padding: 30px 0px;
  background: #083555;
  display: -ms-grid;
  display: grid;
}

#contact .contact__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -ms-grid-rows: auto auto 1fr;
      grid-template-rows: auto auto 1fr;
}

#contact .contact__title {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  grid-column: 1 / -1;
  margin: 0;
}

#contact .contact__paragraph {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  text-align: center;
  color: #90B4CE;
}

#contact .contact__form {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

#contact .contact__form textarea:not([type=submit]),
#contact .contact__form input:not([type=submit]) {
  border: 0;
  width: 100%;
  padding: 8px 10px;
  border-radius: 2px;
}

#contact .contact__form textarea:disabled,
#contact .contact__form input:disabled {
  cursor: not-allowed;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.container__footer {
  grid-column: 1 / -1;
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11 / 12;
  background: #083555;
  color: #fffffe;
  height: 48px;
}

.container__footer .footer__content {
  color: #90B4CE;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator__link {
  position: absolute;
  right: 20px;
  bottom: calc(5vw + 20px);
  color: #5F6C7B;
  text-shadow: none;
  fill: #fffffe;
  font-size: 12px;
}

.creator__link::after {
  position: relative;
  bottom: -2px;
  display: inline-block;
  content: '';
  width: 1.3em;
  height: 1.3em;
  background-image: url("../images/bx-link-external-light.svg");
  background-size: contain;
}

.btn {
  border: 0;
  padding: 11px 5px;
  border-radius: 99px;
  text-transform: uppercase;
  font-size: 1.2em;
  text-decoration: none;
  color: #000000;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.btn--primary {
  color: #fffffe;
  background-color: #3DA9FC;
}

.btn--secondary {
  background-color: transparent;
  border: 2px solid #3DA9FC;
  color: #3DA9FC;
}

.btn--submit {
  background-color: #52840C;
  color: #fffffe;
}

.sozial__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
}

.sozial__bar a {
  margin-right: 20px;
}

.sozial__icons {
  position: relative;
  width: 48px;
  height: 48px;
  background: #767777;
}

.sozial__icons:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.sozial__icons.linkedin {
  background: #0076B3;
}

.sozial__icons.linkedin::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url("../images/bxl-linkedin.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.sozial__icons.instagram {
  background: transparent linear-gradient(219deg, #71329D 0%, #9851C1 32%, #EC2135 65%, #E9C531 100%) 0% 0% no-repeat padding-box;
}

.sozial__icons.instagram::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url("../images/bxl-instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.sozial__icons.github {
  background: #FFFFFF;
}

.sozial__icons.github::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url("../images/bxl-github.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.modal {
  z-index: 1000000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  background: #083555;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.modal .modal__close {
  border: 0;
  padding: 12px 20px;
  min-width: 100px;
  margin: 0 auto;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-align: center;
  background-color: #051e2f;
  color: #ffffff;
}

.modal .modal__close:hover {
  border-radius: 15px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal .modal__close:hover:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.modal h1 {
  font-size: 2.5em;
  margin: 0px;
}

.modal.active {
  display: -ms-grid;
  display: grid;
}

.modal.active--underconstuction {
  letter-spacing: 4px;
}

.modal.active p {
  margin-bottom: 30px;
}

.modal.active--image {
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.fade-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.topbar {
  z-index: 100000;
  position: fixed;
  width: 100%;
  height: 48px;
  opacity: 0.85;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #051e2f;
}

.topbar .topbar__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-image: url("../images/Logo 1@2x.png");
}

.topbar .topbar--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 34px;
  background-size: cover;
}

.topbar .topbar__menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  cursor: pointer;
}

.topbar .topbar__menu__open {
  fill: #fffffe;
}

.topbar .topbar__menu__open:active, .topbar .topbar__menu__open:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.topbar .topbar__menu__close {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  display: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  fill: #fffffe;
}

.topbar .topbar__menu__close:active, .topbar .topbar__menu__close:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.topbar .topbar__navigation {
  display: none;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  justify-self: flex-end;
  color: red;
  height: 100%;
}

.topbar .topbar__navigation .topbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topbar .topbar__navigation .topbar__list li {
  height: 100%;
}

.topbar .topbar__navigation .topbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-left: 10px;
  color: #90B4CE;
  height: 100%;
  padding: 5px 10px;
}

.topbar .topbar__navigation .topbar__link.active {
  color: #45aaf8;
  font-weight: bold;
}

.navigaion {
  z-index: 1000;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-transform: translateY(calc(-100vh - 48px));
          transform: translateY(calc(-100vh - 48px));
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0076B3;
  color: #fffffe;
}

.navigaion .navigaion__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigaion .navigaion__list .navigaion__link {
  -webkit-transition: all 100ms;
  transition: all 100ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 0;
  cursor: pointer;
}

.navigaion .navigaion__list .navigaion__link:hover, .navigaion .navigaion__list .navigaion__link:active {
  background-color: #45aaf8;
  color: #fffffe;
}

.navigaion.active {
  z-index: 1000;
  height: calc( 100vh - 48px);
}

.navigaion.active .navigaion__link {
  height: calc( (100vh - 48px) * 1/5);
}

@media screen and (min-width: 800px) {
  .grid--columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 1fr;
  }
}

@media screen and (min-width: 600px) {
  .topbar .topbar__menu__open {
    display: none;
  }
  .topbar .topbar__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 600px) {
  #info__title {
    font-size: 4rem;
  }
  .info__secondary {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 700px) {
  .box_container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  #projects .btn {
    width: 160px;
  }
  #projects .projects__item {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto 1fr;
        grid-template-rows: auto auto auto 1fr;
    grid-gap: 15px;
  }
  #projects .projects__item .item__title {
    margin: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: left;
  }
  #projects .projects__item picture {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    display: -ms-grid;
    display: grid;
  }
  #projects .projects__item .item__image {
    max-width: 600px;
    min-width: 500px;
  }
  #projects .projects__item .item__description {
    margin: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    text-align: left;
  }
  #projects .projects__item .item__software {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  #projects .projects__item .item__title_second {
    margin-top: 0;
    text-align: left;
  }
  #projects .projects__item .item__controls__container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  #projects .projects__item .item__software__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 900px) {
  #contact {
    margin: 0;
    padding: 80px 50px;
  }
  #contact .contact__wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
  }
  #contact .contact__title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  #contact .contact__paragraph {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  #contact .contact__form {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}
/*# sourceMappingURL=style.css.map */