@import sozial.sass

////I

$page-colums: 0.46fr 1fr 48px 0.46fr
$page-colums-mobile: 1fr

$white: #fffffe
$dark-blue: #083555
$light-blue:  #3DA9FC
$darker-blue: #051e2f

$primary: $light-blue
$selection: $light-blue

*
  box-sizing: border-box
  font-family: 'Roboto', sans-serif
  &::selection
    background: $selection

html
  scroll-behavior: smooth
  height: 100%

body
  background-color: #f7f7f7
  margin: 0
  //display: grid
  //grid-template-columns: $page-colums
  //grid-template-rows: 88vh 1fr auto
  &.modal-open
    overflow: hidden

////I NAV
////I

header
  position: fixed
  width: 100%
  z-index: 1000
  display: grid
  grid-template-columns: $page-colums
  grid-template-areas: ". n  n ."
  background: #051E2F
  height: 47px
  opacity: 0.85
  top: 0
  .header-center
    grid-area: n
    display: grid
    grid-template-columns: 1fr 1fr
    a
      color: #FFFFFE
      display: flex
      align-items: center
      text-decoration: none
      span
        display: flex
        align-items: center
        img
          margin-right: 7px
    .navigation
      display: flex
      align-items: center
      justify-content: flex-end
      justify-self: flex-end
      align-self: center
      height: 100%
      a
        display: flex
        align-items: center
        margin-left: 50px
        text-decoration: none
        color: #90B4CE
        height: 100%
        &:hover
          color: $white
        &.active
          color: $primary
          font-weight: bold

.navigation-icon
  display: none
  border: 0
  width: 48px
  height: 48px
  background: url("../images/bx-menu.svg")
  background-repeat: no-repeat
  background-position: center

////I
////I end NAV

.section-enclose
  position: relative
  width: 100%
  height: 100%
  min-height: 100px
  color: #fffffe
  margin-bottom: -5vw
  section
    padding-top: calc( 5vw + 20px )
    padding-bottom: calc( 5vw + 20px )

  .top
    padding-top: calc(47px + 20px)

////I
////I
////I

.se-info
  background: $primary
  height: 88vh
  padding: 0px
#info
  height: 100%
  position: relative
  display: grid
  grid-template-columns: 0.46fr 1fr 48px 0.46fr
  grid-template-rows: 2fr 1fr 0.2fr 1fr 2fr
  grid-template-areas: /*"h h h h"*/". . . ." ". t . ." ". . . ." ". p p ."
  background: url('../images/background mountain.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  .one-title
    grid-row: 2 / 3
    grid-column: 2 / 3
    font-size: 80px
    span
      font-weight: bold
      span
        color: $primary
  .one-paragraph
    grid-row: 4 / 5
    grid-column: 2 / 3
    font-size: 30px
    text-transform: uppercase
    display: flex
    align-self: flex-end
  .creator-link
    position: absolute
    right: 20px
    bottom: calc(5vw + 20px)
    color: #5F6C7B
    text-shadow: none
////I
////I
////I

.se-skills
  filter: drop-shadow(0px -2px 11px #0C2F47)
#skills
  padding: 20px
  padding-top: calc( 5vw + 20px )
  clip-path: polygon(0 5vw, 0 100%, 100% 100%, 100% 0)
  background: #094067
  height: 800px
  display: grid
  grid-template-columns: 1fr 2fr 1fr
  grid-template-rows: 0.5fr 1fr 1fr
  h1
    font-size: 80px
    grid-area: 1 / 2 / 2 / 2
    text-align: center
    text-transform: uppercase
  .skills-bars
    grid-area: 2 / 3 / 2 / 2
    display: grid
    .bar-group
      display: grid
      grid-template-columns: 1fr 2fr 1fr
      justify-content: center
      text-transform: uppercase
      .bar-text
        text-align: right
      .bar
        margin-left: 40px
        margin-right: 15px
        height: 21px
        width: 100px
        display: inline-block
        background: $primary
        &.b-40
          width: 40%
        &.b-45
          width: 45%
        &.b-70
          width: 70%
////I
////I
////I

.se-projects
  filter: drop-shadow(0px 0px 11px #01243a)
  z-index: 100
#projects
  padding: 20px
  padding-top: calc( 5vw + 20px )
  padding-bottom: calc( 5vw + 20px )
  clip-path: polygon(0 0, 0 calc(100% - 5vw), 100% 100%, 100% 5vw)
  background: #072F4B
  height: 900px
  display: grid
  grid-template-columns: 1fr 2fr 1fr
  grid-template-rows: 0.5fr 1fr 1fr 1fr
  h1
    font-size: 80px
    grid-area: 1 / 2 / 2 / 2
    text-align: center
    text-transform: uppercase
  .box-container
    grid-area: 2 / 3 / span 2 / 2
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    .box
      position: relative
      height: 100%
      transition: all 300ms
      .box-text
        text-align: center
        width: 100%
        bottom: 10px
        padding: 10px
        transition: all 300ms
        position: absolute
        transform: scale(0)
      &:hover
        .box-text
          transform: scale(1)

    #b-1
      background: #094067
      //background-image: url("")
      background-size: cover
    #b-2
      background: #356282
      //background-image: url("")
      background-size: cover
    #b-3
      background: #5F6C7B
      //background-image: url("")
      background-size: cover

////I
////I
////I

.se-experience
  filter: drop-shadow(0px -px 11px  #01243a)
  margin-bottom: 0
#experience
  min-height: 800px
  padding: 20px
  padding-top: calc( 5vw + 20px )
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 5vw)
  background: #356282
  display: grid
  grid-template-columns: 1fr 2fr 1fr
  grid-template-rows: 0.5fr 1fr 1fr 1fr
  h1
    font-size: 80px
    grid-area: 1 / 2 / 2 / 2
    text-align: center
    text-transform: uppercase
  .position-container
    grid-area: 2 / 3 / 2 / 2
    display: grid
    grid-gap: 25px
    .position
      position: relative
      &::before
        position: absolute
        content: ''
        top: 50%
        left: -70px
        width: 25px
        height: 25px
        background-color: $primary
        border-radius: 50%
      h3, p
        color: #90B4CE

////I
////I
////I

.tmp
  height: 500px
  background-color: #90B4CE
  position: relative
  #kontact
    padding: 80px 50px
    position: absolute
    width: 70%
    left: 50%
    top: -50%
    height: 100%
    transform: translateX(-50%)
    background-color: #083555
    display: grid
    grid-template-columns: 1fr 1.2fr
    grid-template-rows: auto 1fr
    grid-gap: 15px
    .kontact-title
      grid-area: 1 / 1 / 1 / 1
      font-size: 40px
      color: $white
      margin: 0
      text-transform: uppercase
    .kontact-info
      grid-row: 2 / 3
      grid-column: 1 / 2
      color: #90B4CE
    .kontact-form
      grid-row: 1 / 3
      grid-column: 2 / 3
      display: grid
      grid-gap: 15px
      padding: 5px
      textarea,
      input
        border-radius: 0
        border: 0
        padding: 1em 1em
      input[type=submit]
        background-color: #52840C
        color: white
        cursor: pointer
        &:hover
          background-color: #48740b
          transform: scale(1.01)
////I
////I
////I

////I
////I
////I

footer
  background-color: #094067
  height: 48px

////I
////I
////I
.modal
  letter-spacing: 4px
  display: block
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1000
  color: white
  background: $darker-blue
  display: grid
  justify-content: center
  align-content: center
  text-align: center
  transition: all 1000ms
  &.fade-up
    transform: translateY(-100%)
    opacity: 1
  h1
    font-size: 2.5em
    margin: 0px
  p
    margin-bottom: 30px
  button
    border: 0
    padding: 12px 20px
    min-width: 100px
    margin: 0 auto
    border-radius: 30px
    font-size: 1.2em
    font-weight: bold
    cursor: pointer
    transition: all 300ms
    text-align: center
    background-color: $dark-blue
    color: #ffffff
    &:hover
      border-radius: 15px
      transform: scale(1.1)
    &:active
      transform: scale(0.9)
////I
////I 
////I

////I Responive
////I

@media screen and ( max-width: 1370px )
  header
  .navigation-icon
    display: block
  header
  .header-center
    .navigation
      a
        display: none

@media screen and ( max-width: 1250px )
  body
    header
      grid-template-columns: 0.46fr 1fr 48px 0.46fr
      .header-center
        grid-area: n
  .section-one
    grid-template-columns: 0.46fr 1fr 48px 0.46fr
    grid-template-rows: 27% 20% 50px 7% 28%
    grid-template-areas: /*"h h h h"*/". . . ."  ". t . ." ". . . ." ". p p ."
    .one-title
      grid-area: t
      font-size: 4rem
    .one-paragraph
      grid-area: p
      font-size: 1.5rem
@media screen and ( max-width: 970px )
  body
    header
      grid-template-columns: 0.2fr 1fr 48px 0.2fr
      .header-center
        grid-area: n
  .section-one
    grid-template-columns: 0.2fr 1fr 48px 0.2fr
    grid-template-rows: 27% 20% 50px 7% 28%

@media screen and ( max-width: 710px )
  body
    header
      grid-template-columns: 0.05fr 1fr 48px 0.05fr
  .section-one
    grid-template-columns: 0.05fr 1fr 48px 0.05fr
    grid-template-rows: 20% 20% 90px 7% 28%
@media screen and ( max-width: 510px )
  body
    header
  .section-one
    .one-title
      font-size: 3rem
    .one-paragraph
      font-size: 1.1rem